#about{
    flex-wrap: wrap;
}
#navbar ul li a{
    font-weight: normal;
}
.cont1{
    padding: 0px 1px ;
    margin: 0px 2px;
    font-size: 10px;
}
.box p{
    width: 200px;
    text-align: justify;
    font-size: 12px;
    color: #3C1053FF;
}
#navbar ul li{
    list-style: none;
    padding: 2px 4px;
    font-size: 0.7rem;
    margin: 1px 7px;
}
#contact{
    height: 300px;

}
#contact-form{ 
    width: 200px;
    height: 95%;
    display: flex;
    border-radius: 5px ;
}
#contact-form label{
    font-size: .8rem;
    color: #3C1053FF;
    font-weight: normal;
}
#contact::before{
  
    width: 100%;
    height: 300px;
   
}
.h-primary{
    text-align: center;
    font-weight: bold;
    padding: 10px;
    font-size: 1.2rem;
   
    color: rgb(212, 41, 92);
}
.cont2{
    padding: 0px 3px ;
    margin: 0px 1px;
    display: flex;
    font-size: 10px;
}
.cont2 h3{
    padding: 2px 5px ;
}
.btn{

    border-radius: 8px ;
    font-size: 1rem;
    width: 60%;
    padding: 4px 0px;
    margin: 2px 4px;
   font-weight: normal;
}