*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
#navbar{
    
    display: flex;
    background-color: #3C1053FF;
    height: 10vh;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    justify-content: center;
}
#navbar ul {
    display: flex;
}
#navbar ul li{
    list-style: none;
    padding: 3px 13px;
    font-size: 1.3rem;
    margin: 2px 50px;
}
#navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(241, 132, 165);
    font-weight: bold;
}
#navbar ul li a:hover{
    border-radius: 7px;
    color: #3C1053FF;
    background: #DF6589FF;
}
#home{
    height: 90vh;
    display: flex;
   
}

.box{
    width: 100%;
    height: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#home::before{
    content: "";
    position: absolute;
    height: 90%;
    width: 100%;
    z-index: -1;
    background: url(me.jpg) no-repeat center center/cover;
    opacity: 0.5;
   
}
.h-primary{
    text-align: center;
    font-weight: bold;
    padding: 30px;
    font-size: 2.5rem;
   
    color: rgb(212, 41, 92);
}
.h-primary span{
    color: #3C1053FF;
}
.box p{
    width: 500px;
    text-align: justify;
    font-size: 1.2rem;
    color: #3C1053FF;
}
#about{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  
}
.item{
    border: 2px solid #3C1053FF;
    display: flex;
    background-color: rgb(241, 214, 222);
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2px 50px;
}
.item .logo img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
.item  p{
    text-align: center;
    text-align: justify;
    padding: 50px;
    color: #3C1053FF;
}
#contact{
    height: 500px;

    display: flex;
    align-items: center;
    flex-direction: column;

}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 500px;
    background-color:  #3C1053FF;
    z-index: -1;
    opacity: 0.7;
}
#contact-form{ 
    background-color: rgb(221, 146, 168) ;
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    border: 2px solid #3C1053FF;
    border-radius: 13px ;
}
#contact-form input,
#contact-form textarea{
    width: 70%;
    padding: 10px 0px;
    margin: 5px 10px;
    border: none;
    border-bottom: 2px solid #3C1053FF;
    background: none;
}
.btn{
    border: 2px solid #3C1053FF;
    border-radius: 13px ;
    font-size: 1.2rem;
    width: 70%;
    padding: 10px 0px;
    margin: 5px 10px;
    background: #DF6589FF;
    color: #3C1053FF;
    font-weight: bold;
}
#contact-form label{
    font-size: 1.2rem;
    color: #3C1053FF;
    font-weight: bold;
}
#container{
    background-color: black;
    color: white;
    display: flex;
    font-size: 1.1rem;
    height: 90px;
    justify-content: center;
    align-items: center;
}
.cont1{
    padding: 5px 50px ;
    margin: 2px 100px;
   
}
.cont2{
    padding: 5px 10px ;
    margin: 2px 10px;
    display: flex;
}
.cont2 i{
    margin: 0px 0px;
    padding: 5px 10px ;
    transition: all ease 1s
}
.cont2 i:hover{
    color: rgb(136, 9, 47);
    cursor: pointer;
}
.cont2 h3{
    padding: 10px 10px ;
}
